.venv/
.env
data/
**/__pycache__/
artifacts/
notebooks/word2vec-emb.ipynb
.DS_Store
.chainlit/
src-llm/0000.parquet
src-llm/notebooks/instructions.txt
model.pt
instructions.txt
my_model.pt
finetune/mlruns/
finetune/test_trainer/
**/mlruns/
**/test_trainer/
**/wandb/
**/results/
spider_test.txt
spider_train.txt
logs/
gemma-2b/
llama/
*/model/*
*.db
